<div class="container">
    <footer>
      <div class="footer">
        <a href="contacto.html">Contactanos</a> | 
        <a href="nosotros.html">Quienes somos</a> | 
        <a href="cursos.html">Terminos y condiciones</a> 
      </div>
      <div class="contenedor4">
          <a class="i" href="https://www.instagram.com/"><i class='bx bxl-instagram'></i></a>
          <a class="f" href="https://www.facebook.com/"><i class='bx bxl-facebook-circle'></i></a>
          <a class="w" href="https://www.whatsapp.com/"><i class='bx bxl-whatsapp'></i></a>
      </div>
  
    </footer>
  </div>