{% extends 'base.html' %}

{% block title %} Manos Abiertas {% endblock title %}
{% load static %}

{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        
         
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
     
    </div>
  </section><!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <section id="nosotros" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Nosotros</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
              <p>
                  Nacimos en 1992 en la localidad de Villa de Mayo en Buenos Aires, por la iniciativa de un grupo de voluntarios amigos que, asesorados y guiados por el jesuita P. Ángel Rossi sj, comenzamos a distribuir alimentos y ropa entre la población más pobre y vulnerable de la zona.
                  Desde entonces, hemos crecido en 11 ciudades:     
                  Buenos Aires, Córdoba, San Juan, Concordia, Chaco, Salta, Mar del Plata, Jujuy, Santa Fe, Neuquén y Mendoza, dando una respuesta afectiva y concreta a quienes se encuentran solos en espacios vulnerables.
              </p>
         </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
              En julio de 2019, luego de algunos intercambios, reuniones y precisiones se concretó la suscripción de un documento con la Compañía de Jesús (ARU) por el cual se estableció que la Fundación Manos Abiertas es una “obra apostólica con especial vinculación con la Compañía de Jesús”.   
              En dicho acuerdo de importante trascendencia para ambas instituciones que se firmara con el R.P. Provincial de los Jesuitas, P. Rafael Velasco SJ y por el Padre Ángel Rossi SJ, Manos Abiertas reconoció en San Ignacio de Loyola y en la Compañía de Jesús su fuente de inspiración e identidad.
              
          </p>
          
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>VOLUNTARIADOS</h2>
      </div>
      <div class="row">
        <div class="voluntariado" data-aos="fade-right" data-aos-delay="100">
          <p>En Manos Abiertas hacemos una opción por el voluntariado: personas que aprecian la vida, que se preocupan por el mundo, que entienden la solidaridad como una actitud constante, personas que de un modo gratuito, organizado y comprometido, se empeñan en mejorar y transformar las condiciones de vida de los más vulnerables, manifestando el amor “más con gestos que con palabras”.
            El voluntariado tiene ese sabor. El de lo pequeño, el de la salida al encuentro del otro, el de la esperanza, el de actuar sobre lo posible, con rostros concretos.          
            El voluntariado es un don y es una tarea. Es un privilegio poder servir y ayudar a otros; y al mismo tiempo, es una respuesta que involucra y compromete.              
            El voluntariado es una forma de participación social.              
            Ahora bien, existen muchas formas de participar, todas válidas en la medida en que supongan el afianzamiento de la democracia, la convivencia, el progreso y la prosperidad desde parámetros de justicia, pero… no todas son voluntariado.</p>
        </div>
        

    </div>
  </section><!-- End Skills Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Programas</h2>
        <p>En Manos Abiertas acompañamos y asistimos a los más necesitados y vulnerables, fortaleciendo vínculos familiares y redes comunitarias.
          Trabajamos en distintas dimensiones solidarias:</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">HOGARES</a></h4>
            <p></p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="">ESPIRITUALIDAD</a></h4>
            <p></p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">EDUCACION</a></h4>
            <p></p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a href="">PROMOCION SOCIAL</a></h4>
            <p></p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

{% endblock content %}